---
title: Connor Finnerty
---
<div class="index-page">
	<section class="hero diagonal">
		<div class="container">
				<h2 class="editable">Experiences, designed and built for the web.</h2>

		</div>
		<div class="container halves">
			<div>
				<ul class="image-list">
					<li><img class="me" src="{{ site.baseurl }}/images/me.png"></li>
				</ul>
			</div>
			<div>
				<p class="bio subtext editable"><strong>Hi there!</strong> I'm currently a UI Designer and unicorn at <a href="http://infiswift.com/">infiswift</a>. I design, build and maintain web and mobile apps for small and large
		businesses for renewables, agriculture and data management. <a href="mailto:connorfinnerty@gmail.com?subject=Contact%20Me%20 &amp;"> Contact me!</a></p></p>
			</div>
		</div>
	</section>

	<section class="diagonal patterned">
		<div class="container halves">
			<div>
				<h3 class="editable">Some of my work</h3>
				<p class="editable">Front to back-end solutions for businesses across industries and across the world, for the past 7 years.</p>
				<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
			</div>
			<div>
				<ul class="image-grid index-grid">
					{% for client in site.clients limit: 4 %}
						<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</div>